// Global.
// --------------------------------------------------------
* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 7em;
}

a {
  text-decoration: none;
  color: $primary;

  &[name] {
    position: relative;
    top: -4em;
    display: block;
  }
}

ul, ol {
  margin-top: 1em;
  padding-left: 1.3em;
}

p {margin-bottom: 16px;}

code, .code:not(.w-icon) {
  font-family: monospace, sans-serif;
  font-size: 0.9em;
}

code {
  padding: .15em .4em;
  background-color: rgba(0,0,0,.05);
  color: #dc163c;
  border-radius: 4px;
}

.ssh-pre {
  padding: 0.5em;
  margin: 1.5em 0;
  border: 1px solid $lighter-text;
  background-color: #f8f8f8;
  border-radius: 4px;
  display: block;
  box-shadow: none;
  font-size: 0.9em;
  line-height: 1.4;
}

.page__title {
  color: $primary;
  background-color: #fff;
  padding: 1.5em;
  display: inline-flex;
  align-items: center;
}

.w-button {
  text-transform: uppercase;
  font-weight: 500;

  &.size--md:not(.w-button--round) {
    height: 28px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.pale-blue {color: #1471b8;}

// Application.
// --------------------------------------------------------
.w-app {
  overflow-x: hidden;
}

.page-container {
  flex-grow: 1;
  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
}

header {margin-bottom: 6em;}

.w-tag i.w-icon {
  position: relative;
  color: rgba(0, 0, 0, .25);
  margin: 0 7px 0 -7px;
}

.settings-list {
  li {padding: 20px 10px;}

  li li {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
    margin-top: 10px;
  }

  code {
    font-size: 0.95em;
    display: inline-flex;
    margin-bottom: 4px;
  }
}

.w-app .go-top {
  width: 1.8em;
  height: 1.8em;
  font-size: 1.5em;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}

// Footer.
// --------------------------------------------------------
footer {
  background: none;
  font-style: italic;
  color: $main-text;
  font-size: 0.9em;
  margin: 5em 0 3.5em;

  i {
    font-size: 1.2em;
    vertical-align: text-bottom;
    transition: 1s ease-out;
    cursor: pointer;

    &.heart:hover {animation: pulse 1.8s ease-out infinite;}
  }
}

// Animations.
// --------------------------------------------------------
@keyframes pulse {
  0%, 20%, 30%, 35%, 45%, 100% {transform: scale(1);}
  25%, 40% {transform: scale(1.3);}
}

.pulse {animation: pulse 1.5s infinite;}

// Media queries.
// --------------------------------------------------------
@media screen and (max-width: ($page-max-width + 20px)) {
  .page-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
